.label_main{
    position: absolute;
    margin-top: 5rem;
    width: 250px;
    margin: -100px 0 0 -150px;
    padding: 1.3rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    z-index: 9999;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
    margin-top: 1rem;
}
.name_logo{
    display:flex
}
.label_content{
    display: flex;
    margin-top: 1rem;
    justify-content:space-between
}
.label_input{
    display:flex;
    justify-content:space-between;
    margin-top: 1rem
}
.label_name{
    margin-left: 20px;
       color: #3c4043;
    
}
.icon_color{
    color:gray;
    font-size:1.2rem;
    cursor: pointer;
}
.input{
    border:0;
    width:100%;
    margin-left: 10px;
}
.border{
    border-top: 1px solid rgb(212, 208, 208);
    margin-top: 2rem;
  
}
.btn_div{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.done_btn{
    background:none;
    border: 0px;
    color: #3c4043;
    padding:0.5rem;
    cursor: pointer;

   
}
.update_btn{
    background:none;
    border: 0px;
    color: #3c4043;
    padding:0.5rem;
    cursor: pointer;

}
.update_btn:hover{
    background-color: rgba(99,95,104,0.039);
    border-radius: 1px;
    border-radius: 0.3rem;
}
.done_btn:hover{
    background-color: rgba(99,95,104,0.039);
    border-radius: 1px;
    border-radius: 0.3rem;
}