.edit_model_popup{
    display: grid;
    width:70%;
    margin:auto;
    margin-top: 3rem;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 0.7rem;
    padding: 1.5rem;
    max-width: 600px;
    opacity: 1;
    cursor:pointer;
    height: inherit;
    position: absolute;
    width:100%;
    position: absolute;
	  margin: auto;
	left: 0;
	right: 0;
    margin-top: 3rem;
    z-index: 99999;
    background-color: white;
  }
  .edit_note_icons{
    width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
      margin-top: 0.5rem;
      opacity: 1;
      cursor: pointer;
      overflow: none;
    
  }
  @media only screen and (max-width: 800px){
    .edit_model_popup {
      width: 80%;
      margin: auto;
      margin-top: 50%;
      max-width: 450px;
      margin-left: 1rem;
  }
  }